body {
    font-family: cursive;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    
}
body{
    background-image: url('aragon.jpg');
     background-size: cover;
    background-position: center;
       background-repeat: no-repeat; 
       height: 100vh; 
       margin: 0; 
}

.login-container {
    font-family: cursive;
    background-color: darkcyan;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-form .form-group {
   font-family: cursive;
    margin-bottom: 15px;
}

.login-form label {
    font-family: cursive;
    color: darkblue;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"], .login-form input[type="password"] {
    font-family: cursive;
   
    
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form .btn-submit {
    font-family: cursive;
    background-color: blue;
    color: powderblue;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-form .btn-submit:hover {
    font-family: cursive;
    background-color: orchid;
}

.centrar {
    margin: 0;
    font-size: 24px;
}

body {
    font-family: cursive;
    background-color: thistle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: slateblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.welcome-text {
    color:  black;
    margin-bottom: 20px;
}

.formulario .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.formulario input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-submit, .btn-reset {
    background-color: turquoise;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
    font-size: 16px;
}

.btn-submit:hover, .btn-reset:hover {
    background-color: teal;
}
